.FindMovie {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    margin-bottom: 20px;
  }

  &__error {
    font-size: 12px;
    color: red;
  }
}
