$card-width: 345px;
$card-gap: 25px;

.MovieList {
  display: flex;
  justify-content: center;

  &__list {
    padding: 0;

    width: calc((345px + 25px) * 3);
    display: flex;
    flex-wrap: wrap;
    gap: $card-gap;
    justify-content: flex-start;
    list-style: none;
  }

  &__item {
    max-width: $card-width;
    margin-top: 15px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}
