.Register{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 50px;

  &__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input,
  &__password {
    width: 200px;
  }

  &__error {
    color: red;
    font-size: 12px;
  }
}

